html, body {
    background-color: grey;
    overflow: hidden;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_box {
    width: 350px;
    padding: 15px 20px;
    margin: 10px 0;
    border: 2px solid #28a745;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input_box:focus {
    border-color: #218838; /* 포커스 상태에서 테두리 색상 변경 */
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.6); /* 포커스 상태에서 초록빛 그림자 추가 */
    outline: none;
}

/* 부모 컨테이너에 적용할 스타일 */
.login_box {
    display: flex;
    justify-content: center; /* 가로 축에서 중앙 정렬 */
    align-items: center; /* 세로 축에서 중앙 정렬 */
    height: 100vh; /* 전체 화면 높이 */
}

/* 버튼에 대한 스타일은 이전에 정의한 대로 사용 */
.submit_button {
    width: 100px;
    padding: 15px 20px;
    margin: 10px 140px;
    border: 2px solid #28a745;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    color: white;
    background-color: #28a745;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.submit_button:hover {
    background-color: #218838;
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.6);
}

.submit_button:focus {
    outline: none;
}


#main_title {
    top: -30px;
    position: absolute;
    color: white;
    font-size: 10vh;
    z-index: 1;
    text-shadow:
    -2px -2px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

#jeawo_good {
    position: relative;
    width: 750px;
    z-index: 0;
}

#login_box {
    position: absolute;
}