<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/index/main.css') }}">
    <title>안드로이드 재우</title>
</head>
<body>
    <h1 id="main_title">안드로이드 재우!</h1>
    <div id="ad_jw">
        <img id="jeawo_good" src="{{url_for('static', filename = 'images/index/jeawo_good.png')}}" alt="재우 로딩 실패다.">
    </div>

    <div id="login_box">
        <form method="get">
            <input type="text" id="input_password" name="pw" class="input_box" placeholder="비밀번호를 입력하여 재우 프레스를 작동해보아요!"><br>
            <input type="submit" value="작동!" class="submit_button">
        </form>
    </div>
</body>
</html>